<div th:fragment="content">
    <!--<h4>text from intro.html</h4>-->

    <!--info messages-->
    <div ng-if="!connecting &amp;&amp; !connected">
        <span ng-click="startConnection()" class="btn btn-default">Connect!</span>
    </div>
    <div ng-if="connectionError">
        <div class="bg-danger text-danger">
            <div>Connection to your local java server is down!</div>
            <div>Please check your server and reload the page</div>
        </div>
    </div>
    <div ng-if="connecting &amp;&amp; !connectionError">
        <span>Connecting..... please start the race</span>
    </div>

    <!--main content-->
    <div ng-if="connected">
        <!--<span>Connected!!!</span>-->

    </div>


    <table class="dashboard-container">
        <tbody>
            <tr>
                <td colspan="2" class="title">speed</td>
                <td colspan="3" class="title">last lap</td>
            </tr>
            <tr>
                <td colspan="2" class="info-big">{{data.speed_Kmh}} km/h</td>
                <td colspan="3" class="info-med">{{data.lastLap | lapFormatter}}</td>
            </tr>
            <tr>
                <td class="title">gear</td>
                <td class="title">rpm</td>
                <td colspan="3" class="title">best lap</td>
            </tr>
            <tr>
                <td class="info-big">{{data.gear}}</td>
                <td class="info-big">{{data.engineRPM}}</td>
                <td colspan="3" class="info-med">{{data.bestLap | lapFormatter}}</td>
            </tr>
            <tr>
                <td class="title">position</td>
            </tr>
            <tr>
                <td class="info-big">{{data.position}}</td>
            </tr>
        </tbody>
    </table>


</div>