<div th:fragment="content">
    <!--<h4>text from intro.html</h4>-->

    <!--info messages-->
    <div ng-if="!connecting &amp;&amp; !connected">
        <span ng-click="startConnection()" class="btn btn-default">Connect!</span>
    </div>
    <div ng-if="connectionError">
        <div class="bg-danger text-danger">
            <div>Connection to your local java server is down!</div>
            <div>Please check your server and reload the page</div>
        </div>
    </div>
    <div ng-if="connecting &amp;&amp; !connectionError">
        <span>Connecting..... please start the race</span>
    </div>

    <!--main content-->
    <div ng-if="connected">
        <!--<span>Connected!!!</span>-->

    </div>

    <div class="dashboard-container">
        <div class="speed-container">
            <div class="title">speed</div>
            <div class="info-big">{{data.speed_Kmh}} km/h</div>
        </div>
        <div class="gear-container">
            <div class="title">gear</div>
            <div class="info-big">{{data.gear}}</div>
        </div>
        <div class="rpm-container">
            <div class="title">rpm</div>
            <div class="info-big">{{data.engineRPM}}</div>
        </div>

        <div class="laps-container">
            <div class="lap-containter">
                <div class="title">lap</div>
                <div class="info-med">{{data.lapTime}}</div>
            </div>
            <div class="lap-containter">
                <div class="title">last lap</div>
                <div class="info-med">{{data.lastLap}}</div>
            </div>
            <div class="lap-containter">
                <div class="title">best lap</div>
                <div class="info-med">{{data.bestLap}}</div>
            </div>
        </div>
        <div style="clear: both"></div>
    </div>


</div>